<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>История Bootstrap</h2>
    <p>Bootstrap - фреймворк для более быстрой разработки интерфейса. Bootstrap быстро стал известным в последние несколько лет, и теперь он используется во многих крупных проектах. Включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм, кнопок, меток, блоков навигации и прочих компонентов веб-интерфейса, включая JavaScript-расширения.</p>
    <p>Bootstrap использует современные наработки в области CSS и HTML, поэтому необходимо быть внимательным при поддержке старых браузеров</p>
</div>
<div class="row">
    <div class="col">Left column</div>
    <div class="col">Right column</div>
</div>


</body>
</html>